/* здесь используйте глобальные переменные */
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

$base-color-text: #444444;
$second-color-text: #000000;
$third-color-text: #ffffff;
$fourth-color-text: #111111;
$fifth-color-text: #222222;
$sixth-color-text: #f2f2f2;

$base-color: #ffffff;
$primary-bg-color: #68b738;
$primary-bg-color--opacity: rgba($primary-bg-color, 0.85);
$secondary-bg-color: #f2f2f2;
$tertiary-bg-color: #e6e6e6;
$quaternary-bg-color: #d9d9d9;
$quinary-bg-color: #eaeaea;
$sextuple-bg-color: #666666;
$septenary-bg-color: #cdcdcd;
$octonary-bg-color: #ebebeb;
$error-color: #ff8282;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
