.banner {
  position: relative;
  padding: 187px 61px 43px 58px;
  font-size: 16px;
  line-height: 20px;
  color: $third-color-text;
  background-color: #838383;
  background-image:
    image-set(
      url("../../images/banner-cat@1x.webp") type("image/webp"),
      url("../../images/banner-cat@1x.jpg") type("image/jpeg")
    );
  background-repeat: no-repeat;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $primary-bg-color--opacity;
  }

  &::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 50%;
    display: block;
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/stack.svg#icon-gift");
    transform: translateX(-50%);
  }

  @media (min-resolution: 2dppx) {
    background-image:
      image-set(
        url("../../images/banner-cat@2x.webp") type("image/webp"),
        url("../../images/banner-cat@2x.jpg") type("image/jpeg")
      );
    background-size: 280px 290px;
  }

  @media (min-width: $tablet-width) {
    padding: 71px 125px 69px 421px;
    background-image:
      image-set(
        url("../../images/banner-cat-tablet@1x.webp") type("image/webp"),
        url("../../images/banner-cat-tablet@1x.jpg") type("image/jpeg")
      );
    background-size: auto;

    &::after {
      top: 50%;
      left: 77px;
      width: 80px;
      height: 83px;
      transform: translateY(-50%);
    }

    @media (min-resolution: 2dppx) {
      background-image:
        image-set(
          url("../../images/banner-cat-tablet@2x.webp") type("image/webp"),
          url("../../images/banner-cat-tablet@2x.jpg") type("image/jpeg")
        );
      background-size: 707px 200px;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 245px;
    padding: 185px 42px 43px;
    background-image:
      image-set(
          url("../../images/banner-cat@1x.webp") type("image/webp"),
          url("../../images/banner-cat@1x.jpg") type("image/jpeg")
        );
    background-size: 280px 290px;

    @media (min-resolution: 2dppx) {
      background-image:
        image-set(
          url("../../images/banner-cat@2x.webp") type("image/webp"),
          url("../../images/banner-cat@2x.jpg") type("image/jpeg")
        );
    }

    &::after {
      top: 56px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.banner__text {
  position: relative;
  width: 163px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: auto;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: auto;
    text-align: center;
  }
}
