.banner {
  background-color: $primary-bg-color--opacity;
  width: 280px;
  min-height: 290px;
  background-image: url("../../images/icons/stack.svg#icon-gift");
  background-size: 78px 80px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 59px;
  position: relative;
  padding: 43px 42px;
  box-sizing: border-box;

  @include bg-catalog;

  @media (min-width: $tablet-width) {
    width: 708px;
    min-height: 200px;
    background-position-y: 50%;
    background-position-x: 57px;
    padding: 43px 77px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 288px;
    background-position-y: 56px;
    background-position-x: 50%;
    padding: 43px 42px;
    box-sizing: border-box;
  }
}

.banner__text {
  font-family: $secondary-font;
  color: $third-color-text;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  margin-top: 143px;

  @media (min-width: $tablet-width) {
    margin-top: 28px;
    text-align: left;
    width: 170px;
    margin-left: auto;
    margin-right: 48px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin: 0 auto;
    margin-top: 142px;
  }
}
