.button {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;

  &:disabled,
  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }

  &--primary {
    color: $third-color-text;
    background-color: $primary-bg-color;

    &:hover,
    &:focus {
      background-color: #5eaa2f;
    }

    &:active {
      color: rgba($third-color-text, 0.3);
      background-color: #5eaa2f;
    }
  }

  &--secondary {
    color: $base-color-text;
    background-color: $secondary-bg-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $octonary-bg-color;
    }
  }

  &--card {
    @media (min-width: $tablet-width) {
      padding: 10px 20px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
