.contacts {
  background-color: $secondary-bg-color;
  overflow: auto;

  &--light {
    background-color: $base-color;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 362px;
    border: none;

    @media (min-width: $tablet-width) {
      height: 400px;
    }
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__text {
  @include flex-sb;
  padding: 26px 0;
  column-gap: 16px;

  @media (min-width: $tablet-width) {
    padding: 61px 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 1;
    left: 110px;
    top: 96px;
    width: 565px;
    padding: 60px 78px 60px 80px;
    background-color: $base-color;
  }
}

.contacts__title {
  width: 125px;

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}

.contacts__address {
  width: 141px;
  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    text-align: right;
    width: 157px;

    .contacts__city {
      display: block;
      margin-top: 18px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__map {
  position: relative;
}

.contacts__picture {
  display: flex;
  justify-content: center;

  .contacts__map-image {
    display: block;
  }
}
