.example {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: $quinary-bg-color;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 101px;
    background-color: transparent;
    background-image: linear-gradient(0deg, $quinary-bg-color, $quinary-bg-color 462px, transparent 462px, transparent);
    border-top: 1px solid $tertiary-bg-color;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 75px;
    background-image: linear-gradient(180deg, transparent, transparent 135px, $secondary-bg-color 135px, $secondary-bg-color);
    border-top: 0;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    @include flex-sb;
    align-items: start;
  }
}

.example__info {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 97px;
  }

  @media (min-width: $desktop-width) {
    width: 433px;
    margin-bottom: 0;
  }
}

.example__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}


.example__description {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.example__stats {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.example__slider {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
