.hero {
  text-align: center;

  @media (max-width: $mobile-width-only) {
    background-image:
      linear-gradient(0deg, $base-color, $base-color 178px, $primary-bg-color--opacity 178px, $primary-bg-color--opacity),
      image-set(
          url("../../images/index-background-mobile@1x.webp") type("image/webp"),
          url("../../images/index-background-mobile@1x.jpg") type("image/jpeg")
        ),
      linear-gradient(90deg, #525156, #525156 50%, #414046 50%, #414046);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 0, top center;
  }

  @media (max-width: $mobile-width-only) and (min-resolution: 2dppx) {
    background-image:
      linear-gradient(0deg, $base-color, $base-color 178px, $primary-bg-color--opacity 178px, $primary-bg-color--opacity),
      image-set(
          url("../../images/index-background-mobile@2x.webp") type("image/webp"),
          url("../../images/index-background-mobile@2x.jpg") type("image/jpeg")
        ),
      linear-gradient(90deg, #525156, #525156 50%, #414046 50%, #414046);
    background-repeat: no-repeat;
    background-size: auto, 320px 302px, auto;
    background-position: 0 0, top center;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.hero__wrapper {
  position: relative;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 29px;
  }
}

.hero__title {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    max-width: 708px;
  }
}

.hero__text {
  width: 280px;
  margin: 0 auto 29px;

  @media (min-width: $tablet-width) {
    order: 1;
    width: 708px;
    margin: 0;
    margin-bottom: 50px;
    padding: 65px 90px 0;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    max-width: 610px;
    margin-bottom: 52px;
    padding: 81px 10px 0 80px;
  }
}

.hero__description {
  margin: 0;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $third-color-text;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $second-color-text;
  }
}

.hero__picture {
  height: 270px;
  margin-bottom: 3px;
  text-align: center;

  @media (min-width: $tablet-width) {
    order: 3;
    height: 609px;
    margin-top: -84px;
    margin-left: 38px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 29px;
    right: 331px;
    height: 499px;
    margin-top: 0;
  }
}

.hero__image {
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 673px;
    height: 608px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
  }
}

.hero__button {
  @media (min-width: $tablet-width) {
    z-index: 1;
    order: 2;
    min-width: 244px;
    width: 192px;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    width: 224px;
    margin-left: 80px;
  }
}
