.main-footer {
  background-color: $secondary-bg-color;
}

.main-footer__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    @include flex-sb;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 68px;
    padding-bottom: 66px;
  }
}

.main-footer__logo-text {
  display: block;
  width: 128px;
  margin: 0 auto 19px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__social {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    max-width: 236px;
    margin: 0;
    margin-left: 36px;
  }
}

.main-footer__text {
  margin: 0;
}

.main-footer__logo {
  @include flex-sb;
  flex-wrap: wrap;
  align-items: center;
  gap: 23px;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    .main-footer__academy-logo {
      color: $primary-bg-color;
    }
  }

  &:active {
    opacity: 0.3;

    .main-footer__academy-logo {
      color: $primary-bg-color;
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 170px;
  }
}

.main-footer__academy-logo {
  display: block;
  color: $sextuple-bg-color;
}
