.main-header {
  min-height: 38px;
  padding: 13px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    padding-top: 25px;
    min-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    padding-top: 55px;
    min-height: 59px;
  }
}


.main-header__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 20px;
  }
}

.main-header__text {
  position: relative;
  width: 100%;
  min-height: 302px;
  background-color: $bg-basic-green;

  @include bg-index;

  @media (min-width: $tablet-width) {
    background-color: $white;

    &::before {
      display: none;
    }
  }
}

.main-header__content {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-header__title {
  font-family: $primary-font;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: $black;
    max-width: 430px;
    text-align: left;
  }
}

.main-header__slogan {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
  }
}

.main-header__button {
  font-family: $primary-font;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $green;
  padding: 10px 44px;
}

.main-header__picture {
  @media (min-width: $desktop-width) {
    position: relative;
    background-color: $bg-basic-green;
    width: 100%;
    min-height: 694px;

    @include bg-index;
  }
}
