.main-container {
  flex-grow: 1;
}

.main-container__hero {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 580px;
    margin-bottom: 82px;
  }
}

.main-container__programmes {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.main-container__functioning {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.main-container__product-cards {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.main-container__products-additional {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 87px;
  }
}

.main-container__program-form {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 79px;
  }
}
