.main-footer__wrapper {
  background-color: $gray-light;

  @media (min-width: $tablet-width) {
    @include flex-sb;
  }
}

.main-footer__link {
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}
