.main-nav {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-start;
  }
}

.main-nav__container {
  @include flex-sb;
  align-items: center;
  padding: 13px 0 14px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-nav__logo {
  width: 33px;

  &:not(.main-nav__logo--index) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }

  img {
    display: block;
    width: 33px;
    height: 38px;

    @media (min-width: $tablet-width) {
      width: 174px;
      height: 50px;
    }

    @media (min-width: $desktop-width) {
      width: 202px;
      height: 59px;
    }
  }
}

.main-nav__burger-icon {
  position: relative;
  display: block;
  width: 24px;
  height: 2px;
  background-color: $second-color-text;
  transition: 0.3s ease;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 24px;
    height: 2px;
    margin-bottom: 6px;
    background-color: $second-color-text;
    transition: 0.3s ease;
  }

  &::after {
    top: 100%;
    margin-top: 6px;
    margin-bottom: 0;
  }
}

.main-nav__burger {
  margin-right: -6px;
  padding: 0 6px;
  width: 36px;
  height: 36px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    .main-nav__burger-icon {
      &::before {
        transform: translateY(-4px);
      }

      &::after {
        transform: translateY(4px);
      }
    }
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__burger--active {
  .main-nav__burger-icon {
    transform: rotate(45deg);

    &::before {
      transform: translateY(8px) rotate(-90deg);
    }

    &::after {
      display: none;
    }
  }

  &:hover,
  &:focus {
    .main-nav__burger-icon {
      transform: rotate(45deg);
      opacity: 0.6;

      &::before {
        transform: translateY(8px) rotate(-90deg);
      }
    }
  }
}

.main-nav__list {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 100%;

  &--closed {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    position: static;
    margin-left: auto;
    max-width: 480px;
  }

  @media (min-width: $desktop-width) {
    max-width: 530px;
  }
}
