.main-header {
  position: relative;
  background-color: $base-color;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    // background-image: linear-gradient(-90deg, $primary-bg-color--opacity, $primary-bg-color--opacity 50%, $base-color 50%, $base-color);
  }
}
