.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    &--custom {
      background-image:
        linear-gradient(-90deg, $primary-bg-color--opacity, $primary-bg-color--opacity 50%, $base-color 50%, $base-color),
        image-set(
          url("../../images/index-background-desktop@1x.webp") type("image/webp"),
          url("../../images/index-background-desktop@1x.jpg") type("image/jpeg")
        ),
        linear-gradient(90deg, $base-color, $base-color 50%, #414046 50%, #414046);
      background-repeat: no-repeat;
      background-size: 100% 694px, auto;
      background-position: 0 0, calc(50% + 521px) 0;

      @media (min-resolution: 2dppx) {
        background-image:
          linear-gradient(-90deg, $primary-bg-color--opacity, $primary-bg-color--opacity 50%, $base-color 50%, $base-color),
          image-set(
            url("../../images/index-background-desktop@2x.webp") type("image/webp"),
            url("../../images/index-background-desktop@2x.jpg") type("image/jpeg")
          ),
          linear-gradient(90deg, $base-color, $base-color 50%, #414046 50%, #414046);
        background-size: 100% 694px, 1041px 694px, 100% 693px;
      }
    }
  }
}

.page__main-header {
  &:not(.page__main-header--index) {
    margin-bottom: 27px;
    border-bottom: 1px solid $quaternary-bg-color;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
      border: none;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 74px;
    }
  }
}
