.page {
  height: 100%;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }

  &--background {
    &::after {
      content: "";
      width: 100%;
      min-height: 302px;
      right: 0;
      top: 65px;
      position: absolute;
      background-color: $bg-basic-green;
      z-index: -1;
    }

    &::before {
      content: "";
      width: 100%;
      min-height: 302px;
      right: 0;
      top: 65px;
      position: absolute;
      background-image: url("../../images/index-background-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }

    @media (min-width: $desktop-width) {
      &::after {
        width: 50%;
        min-height: 694px;
        top: 0;
      }

      &::before {
        width: 50%;
        min-height: 694px;
        top: 0;
        background-image: url("../../images/index-background-desktop@1x.jpg");
      }
    }
  }
}

.page__wrapper {
  position: relative;
}

.page__main-header {
  &:not(.page__main-header--index) {
    margin-bottom: 27px;
    border-bottom: 1px solid $quaternary-bg-color;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
      border: none;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 74px;
    }
  }
}
