.products-additional__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.products-additional__title {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
}

.products-additional__list {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
  border-top: 1px solid $septenary-bg-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    border: 1px solid $septenary-bg-color;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 894px;
    margin-bottom: 0;
    border: none;
    border-top: 1px solid $septenary-bg-color;
  }
}
