.product-cards__title {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
  }
}

.product-cards__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 1px;
    background-color: $octonary-bg-color;
    box-shadow: 100vw 0 0 $octonary-bg-color;
  }

  @media (min-width: $tablet-width) {
    @include grid;
    gap: 60px;
    align-items: end;
    // grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    @include grid(4);
    gap: 63px 80px;
  }
}
