.programs__item h3 {
  font-family: $primary-font;
  color: $black;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__link {
  font-family: $primary-font;
  color: $black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
