.title-custom {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 24px;
  color: $second-color-text;
  text-align: center;

  &--form {
    line-height: 26px;
    text-align: left;
  }
}
